.file {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: .1em .4em;
}

.icon {
  opacity: 0.5;
}

.data {
  position: relative;
  display: flex;
  flex: 1;
}

.fileName {
  margin-left: 0.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  flex: 1;
  width: 0;
}

.info {
  margin-left: 1em;
  opacity: .6;
}

.progressBar {
  width: 100%;
  position: absolute;
  bottom: -3px;
  height: 3px;
  background: #eee;
  border-radius: 2px;
}

.progress {
  background: #3F8BFC;
  height: 100%;
  transition: width.1s ease;
}
